body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    background-color: #ff6eb4;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 600px;
    width: 8px;

    background-color: #fff;
border: 8px;
box-shadow: 2px 2px 5px 1px rgb(0, 0, 0, 0.2);
}
.card > .question p {
    font-size: 32px;
    font-family: sans-serif;
    font-weight: 600;

}
.btn-não, .btn-sim {
    height: 48px;
    width: 100px;

    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;

}
.btn-não{
    background-color: #9AFF9A;
}
.btn-sim {
    background-color: #cf0325;
    color: #FFF;
}
.answer {
    display: none;
}
.answer> p {
    font-size: 48px;
    font-family:  sans-serif;
    font-weight: bold;
    color: #ff6eb4;
    text-shadow: 1px 1px #000;

}

}

